<style>
    @media(max-width: 800px) {
        .copy-txt {
            margin-top: 0px;
        }
    }

    .copy-txt {
        writing-mode: vertical-rl;
        text-orientation: upright;
        float: right;
        text-transform: uppercase;
        color: #FFFAFB;
        margin-top: 100px;
    }
</style>
<footer class="font-small fixed-top" style="background: transparent; z-index: -1;">
    <!--Copyright-->
    <div class="footer-copyright">
        <p class="copy-txt">Copyright © 2019
            <a href="/" target="_blank"> Sound </a></p>
    </div>
    </div>
    <!--/.Copyright-->

</footer>